<!DOCTYPE html>
<html lang="zh-Hant">
<html>           
    <head>
        <title>I come from template!!</title>
        <style>
          
          @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
          @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

          *{
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: 'Noto Sans TC', sans-serif;
          }
        </style>
        
        <link rel="stylesheet" href="../static/css/nav.css">
        
        
    </head>   
    <body> 
            <header class="main-header">
                <div class="container">
                  <div class="logo">
                    幣竟深愛過
                    <i class="bi bi-currency-bitcoin"></i>
                  </div>
                  <ul class="main-nav">
                    <li>
                      <a href="../home">主頁</a>
                    </li>
                    <li>
                      <a href="">模型參數解釋</a>
                    </li>
                    <li>
                      <a href="">幣種選擇</a>
                      <ul>
                        <li><a href="../choose">預設</a></li>
                        <li><a href="../choose2">自選</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="">測試紀錄</a>
                      <ul>
                        <li><a href="../crnnrecord">crnn</a></li>
                        <li><a href="../lstmrecord">lstm</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </header>   

            <div class="main">
                <form class="form" action="/crnnprediction/" method="post" class="formcrnn"> 
                    <div class="choice">
                        {% csrf_token %} 
                        <pre>批次數量                           &thinsp;: {{form.batch_size}}</pre>
                        <pre>隱藏層層數                       : {{form.num_layer}}</pre>
                        <pre>隱藏層神經元個數          : {{form.hidden_size}}</pre>
                        <pre>學習率                                : {{form.learning_rate}}</pre>
                        <pre>L2正則項                          &thinsp;: {{form.weight_decay}}</pre>
                        <pre>訓練次數                            : {{form.epoch}}</pre>
                        <pre>卷積層一之卷積核數目 : {{form.n1}}</pre>
                        <pre>卷積層二之卷積核數目 : {{form.n2}}</pre>
                        <pre>卷積層三之卷積核數目 : {{form.n3}}</pre>
                    </div>
                    <div class= "botton">
                        <input type="submit" value="送出"/>
                    </div>    
                </form>
            </div>    
    <body>
<html>