<!DOCTYPE html>
<html lang="zh-Hant">
<html>
        <head>
            <title>I come from template!!</title>
            <style>
                body {
                   background-color: lightyellow;
                }
                em {
                    color: LightSeaGreen;
                }
            </style>
        </head>
        <body>
                <h1>pridiction</h1>
                <img src="/static/forecast_test.jpg" alt="forecast_test">
                <br>
                <em>{{ Test_error }}</em>
        </body>
</html>